/* Cabecera / navbar */
.nav {
  background-color: #783393;
  box-shadow: 0px 4px 11px -2px #000000c4;
}
.nav_navbar {
  height: 4rem;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
}
.nav__logo {
  height: 4.7rem;
  width: auto;
}
.nav_navbar .nav__logo {
  height: 2.5rem;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.nav__button {
  background-color: #f27c21;
  box-shadow: 1px 3px 9px -2px #000000b3;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.05rem;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.nav__button:hover {
  background-color: #ff6a06;
  color: #ffffff;
}
@media (max-width: 480px) {
  .nav__logo {
    height: 3.7rem;
    width: auto;
  }
}
/* /Cabecera / navbar */

/* Section image */
.section-background {
  background-image: url(../images/estudiantes.png);
  background-size: cover;
  background-position: 75% top;
  color: #ffffff;
  filter: contrast(100%);
  height: 100vh;
  position: relative;
  -webkit-filter: contrast(100%);
  width: auto;
}
.section-background__btn {
  background: #2a90b3;
}
.section__overlay {
  bottom: 0;
  background-color: #000000c7;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.section__overlay .container,
.section__overlay .container .row {
  height: 100%;
}
/* Style parallax */
.parallax {
  background-attachment: fixed !important;
 }
 /* /Style parallax */
/* Section image - Responsive */
@media (max-width: 768px) {
  .section-background {
    height: 80vh;
    background-position: 30% center;
  }
  .section-background .section__title {
    font-size: 2rem;
    margin-bottom: 1rem !important; 
  }
}
@media (max-width: 425px) {
  .section-background {
    background-position: 60% center;
    height: 80vh !important;
  }
  .section-background .section__title {
    font-size: 1.4rem !important;
  }
}
/* /Section image - Responsive */
/* /Section image */

/* Main content */
.cont-main {
  color: #000000;
  background-color: #00000008;
  height: auto;
  width: auto;
}
/* /Main content*/

/* Stages of the application */
.stages {
  background-color: #00000008;
  color: #000000;
 }
 .stage__module {
   box-shadow: 0px 5px 24px -9px #757375;
   -webkit-box-shadow: 0px 5px 24px -9px #757375;
   -moz-box-shadow: 0px 5px 24px -9px #757375;
 }
 /* /Stages of the application */
  
/* Section what to expect from the bootcamp? and rules */
.section-benefits {
  background-color: #00000008;
  color: #000;
}
.section-benefits ul {
  list-style-type: none;
}
/* Section what to expect from the bootcamp? */

/* Section testimonies */
.testimonies {
  background: #2a90b3;
  background: linear-gradient(0deg, #2a90b3 0%, #00000008 100%);
}
.testimonies__item {
  padding-top: 5%;
}
.testimonies__img {
  border: 1rem solid #ffffff;
  border-bottom: 2rem solid #ffffff;
  margin: 2% 3% 5% 10%;
  transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
}
.cont__testimonies{
  background: #2a90b3;
  background: linear-gradient(0deg, #2a90b3 0%, #00000008 100%);
}
.carousel-caption cite,
.carousel-caption h5,
.carousel-caption h6 {
  color: #000000;
}
.testimonies__button {
  background: #783393;
  margin-left: 3rem;
  margin-right: 3rem;
  top: calc(50% - 2rem);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* Responsive*/
@media (max-width: 768px) {
  .testimonies__img {
    border: .5rem solid #ffffff;
    margin: 2% 10% 4% 10%;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
  }
  .testimonies__button {
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 2rem;
  }
}
/* /Section testimonies */

/* Bootcamp pillars */
.pillars {
  background: #2a90b3;
  background: linear-gradient(0deg, #2a90b3 0%, #00000008 100%);
}
 .pillar .icon {
  background: #00000033;
  display: inline-block;
  height: 13rem;
  line-height: 13rem;
  transition: .4s;
  transform: scale(1);
  width: 13rem;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
 .pillar .icon:hover {
  background: #2a2a2ad8;
 }

/* Questions and answers */
.questions {
  background-color: #00000008;
}
.questions__button,
.questions__button:hover {
  color: #000000;
  text-decoration: none !important;
}
.questions__subtitle {
  color: #783393;
}
.question__icon:active {
  color: #fff !important;
}
.quetions__border {
  border-bottom: 0.05rem solid #783393;
  border-top: 0.05rem solid #783393;
}
/* /Questions and answers */

/* Footer */
.footer {
  background: #783393;
  color: #ffffff;
 }
 .footer__text {
   color: #c6b8cc;
 }
 .footer__icons {
  list-style-type: none;
 }
 .footer__icon {
  background: #00000033;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  transition: .4s;
  transform: scale(1);
  width: 3rem;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
 .footer__icon:hover {
  background: #2a2a2ad8;
 }
 .footer__copy {
  font-size: 1em;
  font-weight: 300;
 }
 .footer__link,
 .footer__link:hover {
  color: #ffffff;
 }
/* /Footer */
 
/* Tamaños de fuentes */
.title {
  font-size: 3.5rem;
  font-weight: 400;
}
.subtitle {
  font-size: 2.4rem !important;
}
.medium-txt {
  font-size: 2.1rem !important;
}
.small-txt {  
  font-size: 2rem !important;
}
.x-small-txt {
  font-size: 1.8rem;
}
/* Responsive de texto */
@media (max-width: 1440px) {
  .title {
    font-size: 3.2rem;
  }
  .subtitle {
    font-size: 2rem !important;
  } 
  .medium-txt {
    font-size: 1.5rem !important;
  }
  .small-txt {  
    font-size: 1.3rem !important;
  }
  .x-small-txt {
    font-size: 1.1rem;
  }
}
@media (max-width: 1024px) {
  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 1.9rem !important;
  } 
  .medium-txt {
    font-size: 1.2rem !important;
  }
  .small-txt {  
    font-size: 1.1rem !important;
  }
  .x-small-txt {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 2.4rem;
  }
  .subtitle {
    font-size: 1.7rem !important;
  } 
  .medium-txt {
    font-size: 1.3rem !important;
  }
  .small-txt {  
    font-size: 1.2rem !important;
  }
  .x-small-txt {
    font-size: 1.1rem;
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 1.5rem;
  }
  .subtitle {
    font-size: 1.2rem !important;
  }
  .medium-txt {
    font-size: 1rem !important;
  }
  .small-txt {  
    font-size: 1rem !important;
  }
  .x-small-txt {
    font-size: 0.8rem;
  }
}
/* /Responsive de texto */
/* /Tamaños de fuentes */
