/* Barra de navegación */
.nav {
  background-color: #783393;
  color: #ffffff !important;
}
.nav__button {
  background-color: #f27c21;
  color: #ffffff;
}
.nav__button:hover {
  background-color: #f88b0e;
}
@media (max-width: 480px) {
  .nav__logo__ah {
    height: 50px;
    width: auto;
  }
}
/* /Barra de navegación */

/* Sección con imagen de fondo */
.section-background {
  background-image: url(../images/estudiantes1.jpg);
  background-size: cover;
  background-position: 25% center;
  color: #ffffff;
  filter: grayscale(45%);
  height: 100vh;
  position: relative;
  -webkit-filter: grayscale(4%);
}
.section__overlay {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.section__overlay .container,
.section__overlay .container .row {
  height: 100%;
}
/* Responsive movil de section image */
@media (max-width: 425px) {
  .section-background {
    background-position: 20% center;
    height: 30vh !important;
  }
  .section__title {
    font-size: 1.8rem !important;
  }
}
@media (max-width: 768px) {
  .section-background {
    height: 50vh;
    padding-top: 390px;
    background-position: 70% center;
  }
  .section__title {
    font-size: 1.9rem;
    margin-bottom: 1rem !important; 
  }
}
/* /Responsive movil de section image */
/* /Sección con imagen de fondo */

/* Contenedor principal */
.cont-main {
  color: #000000;
  height: 80vh;
  width: auto;
}
/* /Contenedor principal */









